<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Thêm thành phố</h1>
<a href="/city">Back to list city</a>
<form th:object="${city}" method="post">
    <table class="table">
        <tr>
            <td>Tên: </td>
            <td><input name="name"/></td>
        </tr>
        <tr>
            <td>Quốc gia:</td>
            <td>
                <select th:field="*{country}">
                    <option th:each="c:${listCountry}" th:text="${c.getName()}" th:value="${c.getName()}"></option>
                </select><br/>
            </td>
        </tr>
        <tr>
            <td>Diện tích:</td>
            <td><input name="area"/></td>
        </tr>
        <tr>
            <td>Dân số:</td>
            <td><input name="population"/></td>
        </tr>
        <tr>
            <td>GPA:</td>
            <td><input name="gpa"/></td>
        </tr>
        <tr>
            <td>Giới thiệu:</td>
            <td>
                <textarea name="description" cols="100" rows="5"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                    <input type="submit" value="Nhập thành phố">
            </td>
        </tr>
    </table>
</form>
</body>
</html>