<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'Thành phố'+${city.getName()}"></h1>
<p th:text="'Tên: '+${city.getName()}"></p>
<p th:text="'Quốc gia: '+${city.getCountry().getName()}"></p>
<p th:text="'Diện tích: '+${city.getArea()}"></p>
<p th:text="'Dân số: '+${city.getPopulation()}"></p>
<p th:text="'GDP: '+${city.getGdp()} "></p>
<p>Giới thiệu</p>
<p th:text="${city.getDescription()}"></p>
<a th:href="@{/city/edit/__${city.getId()}__}">Chỉnh sửa</a>
<a th:href="@{/city/delete/__${city.getId()}__}">Xóa</a>
</body>
</html>